* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.clr {
    clear: both;
}

.box-1 {
    background-color: #333333;
    color: whitesmoke;
    border: 5px red solid;
    padding: 3%;
}

.box-1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
}
.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}
.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;
}

.categories ul{
    color: yellow;
    padding: 0;
    list-style: none;
}
.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
}
.block {
    color: blue;
    float: left;
    width: 33.3%;
    border: 1px solid purple;
    padding: 10px;
    box-sizing: border-box;
    /* 
        What border box does is take the padding and border add it together and from size it correctly to fit inside the width given of 33.3%. 

        If we dont use box-sizing: border-box; our 3 block elements beging to stack on top of each other because we dont have enough space for the padding and border which causes them to stack. 

        USING BOX-SIZING WILL BE ESENTIAL
    */
}

#main-block {
    color: firebrick;
    float: left;015
    width: 70%;
}
#sidebar {
    color: fuchsia;
    float: right;
    width: 30%;
    background-color: forestgreen;
}